:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h3 {
	
}

.recipe-item {
	width: 630px;
    height: 300px;
    display: inline-block;
    background:  #f3f3f2;
	margin-left: 10px;
	opacity: 0.2;
}

.show {
	opacity: 1;
}

#recipe-wrapper {
	white-space: nowrap;
	height: 325px;
	overflow-x: scroll;
}
.recipe-image{
	display: inline-block;
}

.recipe-preview {
	display: inline-block;
	vertical-align: top;

}

.recipe-details {
	position: absolute;
    top: 0;
    right: 0;
}

.search-recipes {
	background-color: black;
}
