<div class="search-recipes">
	<app-search-recipes></app-search-recipes>
</div>
<div *ngIf="!recipes"><p>Gettin' something good.</p></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div id="recipe-wrapper" (scroll)="recipesScrolled()" #recipeWrapper>
	<div class="recipe-item" (mouseover)=showRecipe(recipe) *ngFor="let recipe of recipes; let i = index;">
		<div class="recipe-image">
			<img [src]="recipe.recipe.image">
		</div>
		<div class="recipe-preview">
			<h5><a [href]="recipe.recipe.url">{{ recipe.recipe.label }}</a></h5>
			<p class="ingr-list">{{ recipe.recipe.ingredientLines }}</p>
			<button (click)="addARecipe(recipe)">Add to your Recipes</button>
		</div>
	</div>
</div>
<div id="guy" *ngIf="">
	<p class="add-bubble"><a [routerLink]="user">View your recipes!</a></p>
	<p class="bubble-arrow"></p>
	<img src="/assets/images/18914-NRXLZJ.png">
</div>
<!-- <div class="recipe-details" *ngIf="hovered">
	<app-recipe-details [details]="recipeDetail"></app-recipe-details>
</div> -->