:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

:host:before{ 
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg,#3e180b 0,#37283100);
    opacity: .9;
}

h5 {
	
}


.recipe-item {
	width: 300px;
    height: auto;
    display: inline-block;
    background:  #f3f3f2;
	margin-left: 10px;
    /* opacity: 0; */
    white-space: nowrap;
    
}

.recipe-item:nth-child(odd) {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* show the first 4 upon page load */
.recipe-item:nth-child(1), .recipe-item:nth-child(2), .recipe-item:nth-child(3), .recipe-item:nth-child(4) {
    opacity: 1;
}

/* .show {
	transition: 1s ease all;
	opacity: 1;
} */

#recipe-wrapper {
    position: relative;
    /* max-width: 700px;
    margin: 0 auto;
    overflow-y: scroll;
    height: 1000px; */
}
.recipe-image {
	display: inline-block;
}

.recipe-preview {
	/* display: inline-block; */
    vertical-align: top;
    padding: 30px;
}

.recipe-preview h5 a {
    white-space: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.recipe-preview h5  {
    max-width: 300px;
   
}

.recipe-preview button {
	text-align: center;
}


.recipe-details {
	position: absolute;
    top: 0;
    right: 0;
}

.search-recipes {
    background-color: black;
    position: relative;
    z-index: 9;
}

.search-recipes-main h1 {
    text-shadow: 2px 2px #2d2d2d;
    color: white;
    position: relative;
    text-align: center;
}

.ingr-list {
    white-space: normal;
    font-size: 14px;
}

#check-recipes {
    background: #3d9970;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
    bottom: -10px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    border: 1px solid #2e7757;
    -webkit-animation: slideUp 0.9s 1;
    animation: slideUp 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f138; 
    opacity: 0.5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@-webkit-keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-50%);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-50%);
      opacity: 1;
    }
   }
@media only screen and (max-width: 600px) {
    .recipe-image {
        display: block;
    }
    .recipe-item{
        width: 300px;
        height: 600px;
        margin-bottom: 20px;
    }
    .ingr-list {
        width: auto;
    }
    #recipe-wrapper {
        width: 320px;
    }
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
