<div class="search-recipes">
	<app-search-recipes></app-search-recipes>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="search-recipes-main"><h1 >Scroll for deliciousness....</h1>
<div id="recipe-wrapper"  #recipeWrapper>
	<div class="loading" *ngIf="!recipes"><div class="spinner"><div class="dot1"></div><div class="dot2"></div></div></div>
	<div class="recipe-item" (mouseover)=showRecipe(recipe) *ngFor="let recipe of recipes; let i = index;">
		<div class="recipe-image">
			<a [href]="recipe.recipe.url" target="_blank"><img [src]="recipe.recipe.image"></a>
		</div>
		<div class="recipe-preview">
			<h5><a [href]="recipe.recipe.url" title="Click for more details" target="_blank">{{ recipe.recipe.label }}</a></h5>
			<p class="ingr-list">{{ recipe.recipe.ingredientLines }}</p>
			<button (click)="addARecipe(recipe)">Add to your Recipes</button>
		</div>
	</div>
</div>
<div id="guy" *ngIf="recipeAdded">
	<p class="add-bubble" (click)="checkRecipes()">Check out your recipes!</p>
	<p class="bubble-arrow"></p>
	<img src="/assets/images/18914-NRXLZJ.png">
</div>
<!-- <div class="recipe-details" *ngIf="hovered">
	<app-recipe-details [details]="recipeDetail"></app-recipe-details>
</div> -->