<div class="search-recipes">
	<app-search-recipes></app-search-recipes>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="loading" *ngIf="!recipes"><div class="spinner"><div class="dot1"></div><div class="dot2"></div></div></div>
<div id="recipe-wrapper" (scroll)="recipesScrolled()" #recipeWrapper>
	<div class="recipe-item" (mouseover)=showRecipe(recipe) *ngFor="let recipe of recipes">
		<div class="recipe-image">
			<img [src]="recipe.recipe.image">
		</div>
		<div class="recipe-preview">
			<h4><a [href]="recipe.recipe.url">{{ recipe.recipe.label }}</a></h4>
			<p>{{recipe.recipe.ingredientLines}}</p>
			<button (click)="addARecipe(recipe)">Add to your Recipes</button>
		</div>
	</div>
</div>
<!-- <div class="recipe-details" *ngIf="hovered">
	<app-recipe-details [details]="recipeDetail"></app-recipe-details>
</div> -->