:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h5 {
	
}

.recipe-item {
	width: 630px;
    height: 300px;
    display: inline-block;
    background:  #f3f3f2;
	margin-left: 10px;
	opacity: 0;
}

/* show the first 4 upon page load */
.recipe-item:nth-child(1), .recipe-item:nth-child(2), .recipe-item:nth-child(3), .recipe-item:nth-child(4) {
    opacity: 1;
}

.show {
	transition: 1s ease all;
	opacity: 1;
}

#recipe-wrapper {
	white-space: nowrap;
	height: 325px;
	overflow-x: scroll;
}
.recipe-image {
	display: inline-block;
}

.recipe-preview {
	display: inline-block;
    vertical-align: top;
    padding: 0px 14px;
}

.recipe-preview h5 a {
    max-width: 300px;
    white-space: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.recipe-preview button {
	text-align: center;
}


.recipe-details {
	position: absolute;
    top: 0;
    right: 0;
}

.search-recipes {
	background-color: black;
}

.ingr-list {
    white-space: normal;
    width: 300px;
    font-size: 14px;
    min-height: 100px;
}
