<div>
   <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe()" enctype="multipart/form-data">
      <div><img [src]=""></div> <!--upload new img-->
      <div>
        <label for="file">Choose an Image File</label>
        <input type="file" id="imgFile" name="image" (change)="uploadImg($event)">
      </div>
      <input type="text" formControlName="title" name="title" [value]="">
      <br>
      <textarea name="ingredients" formControlName="ingredients" [value]=""></textarea>
      <br> 
      <button [disabled]="!addRecipeForm.touched" type="submit" class="button recipe-submit">Save</button>
      <button (click)="addingCanceled()">Cancel</button>
  </form> 
</div>