<form class="col-lg-8 col-md-12 col-sm-8" [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h3>Any diet specifications?</h3>
    <select class="form-control" id="qOne" required formControlName="qOne">
	  <option value="none">None</option>
	  <option value="balanced">Balanced</option>
	  <option value="high-protein">High-Protein</option>
	  <option value="high-fiber">High-Fiber</option>
	  <option value="low-fat">Low-Fat</option>
	  <option value="low-carb">Low-Carb</option>
	  <option value="low-sodium">Low-Sodium</option>
	</select>
  </div>
  <div class="form-group">
    <h3>How many ingredients do you want to use?</h3>
    <input type="text" class="form-control" id="qTwo" required formControlName="qTwo">
  </div>
  <div class="form-group">
    <h3>What would you like your main course to include?</h3>
    <input type="text" class="form-control" id="qThree" required formControlName="qThree">
  </div>
  
  <button type="submit" class="contact-button">Submit</button>
</form>