:host {
    background-image: url(/assets/images/jay-wennington-2065.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-weight: 300;
    color: #3e3e3e;
}

button {
    font-size: 1.0em;
    border: none;
    padding: 10px 70px;
    max-width: 100%;
    text-transform: uppercase;
    color: #3f3f3f;
}

.welcome {
    text-align: center;
    color: white;
}

.logo {
    opacity: 0;
    -webkit-animation: fadeIn 0.9s 1;
    animation: fadeIn 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.login-screen {
    opacity: 0;
    max-width: 630px;
    margin: 100px auto;
    height: 650px;
    background: #ffffffc9;
    cursor: pointer;
    text-align: center;
    -webkit-animation: slideUp 0.9s 1;
    animation: slideUp 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.bold-me {
    font-weight: 600;
}


@-webkit-keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
   }

   @-webkit-keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
   }