<div class="welcome">
    <p class="logo"><img src="{{ logo }}"></p>
</div>
<div class="login-screen">
    <div (click)="showSignIn()"><h3 class="float-left width-45">Sign In</h3><p [ngClass]="signInClicked ? 'active-bar' : 'unactive-bar'"></p><app-sign-in *ngIf="signInClicked"></app-sign-in></div>
    <div (click)="showSignUp()"><h3 class="float-left width-45">Sign Up</h3><p [ngClass]="signUpClicked ? 'active-bar' : 'unactive-bar'"></p><app-sign-up *ngIf="signUpClicked"></app-sign-up></div>
</div>
