<form class="col-lg-8 col-md-12 col-sm-8" [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h3>First Name</h3>
    <input type="text" class="form-control" id="fname" required formControlName="fname">
  </div>
  <div class="form-group">
    <h3>Last Name</h3>
    <input type="text" class="form-control" id="lname" required formControlName="lname">
  </div>
  <div class="form-group">
    <h3>Username</h3>
    <input type="text" class="form-control" id="username" required formControlName="username">
  </div>
  <div class="form-group">
    <h3>Password</h3>
    <input type="text" class="form-control" id="password" required formControlName="password">
  </div>
  <div class="form-group">
    <h3>Email Address</h3>
    <input type="text" class="form-control" id="email" required formControlName="email">
  </div>
  <div class="form-group">
    <h3>Favorite Cuisine?</h3>
    <input type="text" class="form-control" id="qOne" required formControlName="qOne">
  </div>
  <button type="submit" [disabled]="!quizForm.valid" class="btn">Submit</button>
</form>