<div>
  <img [src]="recipeImage"> <!--upload new img-->
  <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
      <input type="text" formControlName="title" name="title" [value]="recipeTitle">
      <br>
      <textarea name="ingredients" formControlName="ingredients" [value]="recipeIngredients"></textarea>
      <br> 
      <button [disabled]="!editForm.valid" type="submit" class="button recipe-submit">Save</button>
      <button (click)="editingCanceled()">Cancel</button>
  </form> 
</div>