.sign-in-container {
    position: absolute;
    left: 100px;
    top: 150px;
}

.form-group {
    max-width: 400px;
}

.form-control {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .form-group {
        margin: 60px 0px 30px -50px;
    }
    .form-control {
        width: 75%;
    }
}
