:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h1 {
    text-shadow: 2px 2px #2d2d2d;
}

.search-input {
    height: 80px;
    font-size: 4em;
}

.search-button {
    font-size: 3em;
    vertical-align: top;
}

.search-recipes-main {
    max-width: 900px;
    margin: 22em auto 0px;
    color: white;
}

#guy {
    opacity: 0;
    -webkit-animation: slideUp 0.9s 1;
    animation: slideUp 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    position: absolute;
    right: 25px;
    bottom: -100px;
}

.add-bubble {
    background: white;
    border-radius: 100%;
    color: black;
    padding: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.bubble-arrow {
    width: 50px;
    height: 0px;
    border-bottom: 35px solid transparent;
    border-top: 13px solid transparent;
    border-right: 21px solid white;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 99px;

}

@-webkit-keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
   }

