<div class="search-recipes">
	<app-search-recipes *ngIf="savedRecipesLength != 0"></app-search-recipes>
	<div class="main user-main">
		<div class="search-recipes-main" *ngIf="savedRecipesLength == 0"><h1 >You do not have any saved recipes yet. Since your favorite cuisine is {{ cuisine }}, maybe try searching for {{ cuisine }} dishes? </h1>
			<input class="search-input" value="{{cuisine}}" type="text" placeholder="Search">
			<button class="search-button" type="submit" (click)="getRecipes()">Search</button>
			<p class="speech-bubble"></p>
			<div id="check-recipes">
				<p><a (click)="addUserRecipe()">You can also add your own recipe!</a></p>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div *ngFor="let recipe of savedRecipes; let i = index;">
			<div class="saved-recipe">
				<img src="{{ recipe[0] }}">
				<p class="delete-recipe" (click)="deleteRecipe(recipe, i)">Delete Recipe</p>

				<div class="saved-details">
					<h5>{{ recipe[1] }}</h5>
					<h5>{{ recipe[2] }}</h5>
					<div class="user-options">
						<p><a>Add this recipe to your calendar </a></p>				
						<label>Month</label> 			
						<select id="month" (change)="getMonth($event)">
						<option></option>   
						<option>January</option>       
						<option>February</option>       
						<option>March</option>       
						<option>April</option>       
						<option>May</option>       
						<option>June</option>       
						<option>July</option>       
						<option>August</option>       
						<option>September</option>       
						<option>October</option>       
						<option>November</option>       
						<option>December</option>       
						</select> 
						<label>Day</label> 
						<select id="day" (change)="getDate($event)">
						<option></option>    
						<option>1</option>       
						<option>2</option>       
						<option>3</option>       
						<option>4</option>       
						<option>5</option>       
						<option>6</option>       
						<option>7</option>       
						<option>8</option>       
						<option>9</option>       
						<option>10</option>       
						<option>11</option>       
						<option>12</option>       
						<option>13</option>       
						<option>14</option>       
						<option>15</option>       
						<option>16</option>       
						<option>17</option>       
						<option>18</option>       
						<option>19</option>       
						<option>20</option>       
						<option>21</option>       
						<option>22</option>       
						<option>23</option>       
						<option>24</option>       
						<option>25</option>       
						<option>26</option>       
						<option>27</option>       
						<option>28</option>       
						<option>29</option>       
						<option>30</option>       
						<option>31</option>       
						</select> 
						<label>Year</label> 
						<select id="year" (change)="getYear($event)"> 
						<option></option>   
						<option>2018</option>       
						<option>2019</option>       
						<option>2020</option>       
						<option>2021</option>            
						</select>
						<div title="Add to Calendar" class="addeventatc add-to-calendar-{{recipe[1]}}">Add to Calendar
							<span class="start">{{ month }}-{{ day }}-{{ year }} 08:00</span>
							<span class="end">{{ month }}-{{ day }}-{{ year }}</span>
							<span class="title"> Make {{ recipe[1] }} for Dinner!</span>
						</div>
				</div>

			</div>

			</div>

		</div>
		<div id="check-recipes">
			<p *ngIf="savedRecipesLength >= 1"><a (click)="addUserRecipe()">Add your own recipe!</a></p>
		</div>
	</div>
</div>
