:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h1 {
    text-shadow: 2px 2px #2d2d2d;
}

.search-input {
    height: 80px;
    font-size: 4em;
}

.search-button {
    font-size: 3em;
    vertical-align: top;
}

.search-recipes-main {
    max-width: 900px;
    margin: 33em auto 0px;
    color: white;
}

#guy {
    position: absolute;
    right: 25px;
}
