:host {
    background: url(/assets/images/237808-P2RBBF-153.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h1 {
    text-shadow: 2px 2px #2d2d2d;
    color: white;
    text-align: center;
}

.search-input {
    height: 80px;
    font-size: 4em;
    width: 65%;
}

.search-button {
    font-size: 3em;
    vertical-align: top;
}

.search-recipes-main {
    max-width: 900px;
    margin: 22em auto 0px;
    color: white;
}

.user-main {
    width: 800px;
}

#guy {
    opacity: 0;
    -webkit-animation: slideUp 0.9s 1;
    animation: slideUp 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    position: absolute;
    right: 25px;
    bottom: -100px;
}

.add-bubble {
    background: white;
    border-radius: 100%;
    color: black;
    padding: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.bubble-arrow {
    width: 50px;
    height: 0px;
    border-bottom: 35px solid transparent;
    border-top: 13px solid transparent;
    border-right: 21px solid white;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 99px;

}

.saved-recipe {
    max-width: 800px;
    height: 200px;
    background: #f3f3f2;
    margin: 8px;
    clear: both;
}

.saved-details {
    padding: 30px;
}

.saved-recipe h5 {
    white-space: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    max-width: 300px;
}

.saved-recipe img {
    float: right;
    width: 200px;
}

.user-options {
    white-space: normal;
    font-size: 14px;
}

#check-recipes {
    background: #3d9970;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    text-align: center;
    bottom: -11px;
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    border: 1px solid #2e7757;
    left: 0;
    right: 0;
    z-index: 1;
}

.delete-recipe {
    float: right;
    margin-top: 2px;
    font-size: 14px;
    text-decoration: underline;
    color: red;
    margin-right: 4px;
    cursor: pointer;
}

@-webkit-keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
   }

   @media only screen and (max-width: 600px) {
    .user-main {
        width: auto;
    }
    .saved-recipe {
        height: auto;
    }
}


