<div class="search-recipes">
	<app-search-recipes></app-search-recipes>
	<p *ngIf="savedRecipesLength == 0">You do not have any saved recipes yet. Since your favorite food is {{ cuisine }}, maybe try searching for {{ cuisine }} dishes? </p>	
	<div *ngFor="let recipe of savedRecipes; let i = index;">
		<div>
			<img src="{{ recipe[0] }}">
			<p>{{ recipe[1] }}</p>
			<div class="user-options">
				<p><a (click)="deleteRecipe(recipe, i)">Delete Recipe</a></p>
				<p><a>Add to Calendar</a></p>
			</div>
		</div>
	</div>
	<p><a (click)="addUserRecipe()">Add Your Own</a></p>
</div>
