nav {
    background: black;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#controls {
    color: white;
    float: left;
    margin: 43px auto 0px;
}

#controls span a{
    margin-right: 30px;
}

.nav-search {
    margin: 30px auto 0px;
    float: left;
    width: 75%;
}

#logo-small {
    float: left;
    padding: 20px;
}
