input[type=text] {
    width: 50%;
}

nav {
    background: black;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#controls {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 35px 0;
}

#controls span a {
    margin-right: 30px;
}

#controls span a:hover {
    color: #3D9970;
    cursor: pointer;
}

#nav-wrapper {
    margin: 0 95px;
}

.nav-search {
    margin: 30px auto 0px;
    float: left;
    width: 60%;
}

#logo-small {
    float: left;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    #logo-small {
        float: none;
    }
    .nav-search {
        margin: 0;
        float: none;
        width: auto;
    }
    #controls {
        float: none;
        margin: 0;
    }
}
