nav {
    background: black;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#controls {
    color: white;
    float: left;
}

.nav-search {
    margin: 30px auto 0px;
    width: 36.3%;
}

#logo-small {
    float: left;
    padding: 20px;
}
