html, body{
    font-size: 100%;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1em;
}

p, span, strong, label, a, li, i, input, em {
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover, a:button {
    cursor: pointer;
}

input[type=text] {
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid #0000002b;
    height: 40px;
}

button {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 40px;
    background: #3D9970;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background: #3d9970b8;
}

img {
    max-width: 100%;
}

.float-left {
    float: left;
    margin-left: 20px;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.width-30 {
    width: 30%;
}

.width-45 {
    width: 45%;
}

.main {
    margin: 50px auto;
}

.form-group {
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.error {
    color: red;
}

.typed-cursor {
    display: none !important;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

