html, body{
    font-size: 100%;
}

h3 {
    font-size: 2.2em;
}

p, span, strong, label, a, li, i, input, em {
    font-size: 1.2em;
}

img {
    max-width: 100%;
}

.float-left {
    float: left;
    margin-left: 20px;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.width-30 {
    width: 30%;
}

.form-group {
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.typed-cursor {
    display: none !important;
}

